.summary-list{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.selected-h3{
    text-align: center;
    color: #116181;
    font-size: 22px;
    font-weight: 600;
}
.quantity{
    color: rgb(2, 117, 112);
}
.list-show{
    text-align: center;
    background-color:rgb(242, 246, 248);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.2);
}